.location-container {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  margin: 8px;
}

.add-button-container {
  width: 10%;
  margin: auto;
}

.data-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.date-container {
  display: flex;

  span{
    margin: 0px 8px;
  }
}