.page {
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px
}

.chart-container {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.loading-container {
  align-self: center;
  text-align: center;
}